body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:black;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:gold;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

nav a:hover{
color:gold;
}

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(black,#222);
}

.hero h1{
font-size:45px;
color:gold;
}

.hero-btn{
display:inline-block;
padding:12px 20px;
background:gold;
color:black;
text-decoration:none;
margin-top:20px;
font-weight:bold;
border-radius:8px;
}

.categories{
text-align:center;
padding:40px;
}

.category-box{
display:inline-block;
background:#222;
padding:20px;
margin:10px;
border:1px solid gold;
border-radius:10px;
}

.products{
padding:40px;
text-align:center;
}

.product-card{
display:inline-block;
width:280px;
background:#222;
padding:20px;
margin:15px;
border-radius:15px;
position:relative;
}

.product-card img{
width:100%;
border-radius:10px;
}

.badge{
position:absolute;
top:10px;
left:10px;
background:gold;
color:black;
padding:5px 10px;
font-size:12px;
font-weight:bold;
border-radius:20px;
}

.rating{
margin:10px 0;
}

.old-price{
text-decoration:line-through;
color:gray;
}

.product-card a{
display:inline-block;
padding:10px 15px;
background:gold;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.offers{
text-align:center;
padding:50px;
background:#1a1a1a;
}

.reviews{
padding:40px;
text-align:center;
}

.review-box{
background:#222;
padding:20px;
margin:15px;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:black;
margin-top:30px;
}

@media(max-width:768px){
header{
flex-direction:column;
text-align:center;
}
.product-card{
width:90%;
}
}